@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&family=Inter:wght@300&family=Kufam:wght@600;900&family=Montserrat:wght@300&family=Poppins:wght@700&family=Signika&display=swap');
/*lista de fontes
font-family: 'DM Serif Display', serif;
font-family: 'Inter', sans-serif;
font-family: 'Kufam', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Signika', sans-serif;
*/

body{
    font-family: 'kufan';
}

.custom-card {
  background-color: #d7dde4;
  margin: 5px;
  border-color: #ccc;
  border-width: 1px;
  border-style: solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30rem;
}
.card-body{
  height: 20%;
  width: 100%;
}
h6{
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}


