.center-container-edit {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;

}
.product-list-edit{
  display: flex;
  flex-direction: column;
  list-style: none;
}
.product-list-edit button {
    margin-top: 10px;
     
 }

