@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&family=Inter:wght@300&family=Kufam:wght@600;900&family=Montserrat:wght@300&family=Poppins:wght@700&family=Signika&display=swap');
/*lista de fontes
font-family: 'DM Serif Display', serif;
font-family: 'Inter', sans-serif;
font-family: 'Kufam', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Signika', sans-serif;
*/

.center-container-logincadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    
    /* Ocupa 100% da altura da viewport */
}


.product-list-logincadastro {
    display: flex;
    flex-direction: column;
    list-style: none;
    font-family: 'kufan';
}
.product-list-logincadastro button {
   margin-top: 10px;
    
}
.product-list-botoes{
    display: flex;
    align-items: center;
    margin-top: 10px;
    
}
.product-list-botoes a{
    color: #1b0f62;
    text-decoration: none;
    
}
.product-list-botoes h6{
margin-right: 10px;
}
